{% extends "base.html" %}

{% block title %}
    Password generator Website
{% endblock %}


{% block content %}
<div class="container text-center">
<h1 style="margin-bottom: 2rem; margin-top: 2rem; color: maroon; font-weight: bold; text-decoration:underline;"> Password Generator</h1>
<div class="container text-center" style="background-color: pink; height:100%; padding: 2rem;">
<form action="{% url 'Password' %}">
    <select name="length">
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12" selected="selected">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
    </section> Length
    <br/>
    <br/>

    <input type="checkbox" name="uppercase"><strong>UpperCase</strong>
    <br/>
    <br/>
    <input type="checkbox" name="Numbers"> <strong>Numbers</strong>
    <br/>
    <br/>
    <input type="checkbox" name="Special"> <strong>Special Characters</strong>
    <br/>
    <br/>


    <input type="submit" value="Generate Password" class="btn btn-primary">
    <br/>
    <br/>
</form>
</div>
</div>
{% endblock %}